.illustration {
    background-image: url("../images/bgi1.png");
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position: top;
}
.intro {
    padding-top: 71px;
    padding-bottom: 535px;
    background-image: url("../images/Group.svg");
    background-repeat: no-repeat;
    background-size: 30px 108px;
    background-position: calc(50%) calc(50% - 45px);
}
.intro-title {
    margin: 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media only screen and (max-width:576px) {
    .illustration {
        background-image: url("../images/bgi1-m.png");
        background-repeat: no-repeat;
        background-size: 100% 538px;
        background-position: top;
    }
    .intro {
        padding-top: 67px;
        padding-bottom: 278px;
        background-image: url("../images/Group.svg");
        background-repeat: no-repeat;
        background-size: 30px 108px;
        background-position: calc(50%) calc(50% + 35px);
    }
    .intro-title {
        font-size: 40px;
        line-height: 49px;
    }
}
